---
import Input from "../Input.astro";
---
<div class="form-step hide">
  <div class="content">
    <Input id="project" label="Objetivos do projeto" placeholder="Descreva quais os objetivos deste projeto" type="textarea" />
  </div>

  <div class="button-wrapper">
    <button class="btn secondary" data-prev type="button">VOLTAR</button>
    <button class="btn primary" type="submit">ENVIAR RESPOSTA</button>
  </div>
</div>