---
import Input from "../Input.astro";
---
<div class="form-step active">
  <div class="content">
    <Input id="name" label="Nome" placeholder="Como prefere ser chamado" type="text" required />
    <Input id="phone" label="Telefone" placeholder="Digite seu número do WhatsApp" type="text" numbersonly />
    <Input id="email" label="E-mail" placeholder="Digite seu e-mail" type="email" required />
  </div>
  <div class="button-wrapper justify-end">
    <button class="btn primary" data-next type="button">CONTINUAR</button>
  </div>
</div>