@keyframes appear {
  0% {
    scale: .7;
    opacity: 0;
  }
}

@keyframes slideout {
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

form {
  overflow: hidden;
}

.form-step {
  animation: slideout 200ms ease-in-out forwards;
}

.form-step.active {
  animation: appear 200ms 100ms ease-in-out both;
}

.hide {
  display: none;
}